{% extends 'base.html' %}

{% block head %}
<title>Clientes</title>
{% endblock %}

{% block body %}

<h1>Lista de Clientes</h1>
<form action="/clientes/add" method="POST">
    <div class="row mb-3">
        <div class="col">
            <label>Nombre</label>
            <input type="text" name="nombre">
        </div>
        <div class="col">
            <label>Correo</label>
            <input type="email" name="correo">
        </div>
        <div class="col">
            <label>Region</label>
            <select name="region">
                {% if regiones %}
                        <option value="0">--Seleccione una region...</option>
                    {% for region in regiones %}
                        <option value="{{region[0]}}">{{region[1]}}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="col">
            <label>Provincia</label>
            <select name="provincia">
                {% if provincias %}
                        <option value="0">--Seleccione una provincia...</option>
                    {% for provincia in provincias %}
                        <option value="{{provincia[0]}}">{{provincia[1]}}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="col">
            <label>Comuna</label>
            <select name="comuna">
                {% if comunas %}
                        <option value="0">--Seleccione una comuna...</option>
                    {% for comuna in comunas %}
                        <option value="{{comuna[0]}}">{{comuna[1]}}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="col">
            <button class="btn btn-primary" type="submit">Agregar</button>
        </div>
    </div>
</form>
{% if clientes %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Ciudad</th>
            <th>Fecha de registro</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente[0] }}</td>
                <td>{{ cliente[1] }}</td>
                <td>{{ cliente[2] }}</td>
                <td>{{ cliente[3] }}</td>
                <td>{{ cliente[4] }}</td>
                <td>
                    
                    <!-- ELIMINAR -->
                    <form method="POST" action="{{ url_for('deleteClienteWeb', id=cliente[0]) }}" style="display: inline;">
                        <button type="submit" class="btn" onclick="return confirm('Esta seguro/a?')">
                            Eliminar
                        </button>
                    </form>
                    
                    <!-- EDITAR -->
                     <button class="btn" onclick="toggleForm('{{ cliente[0] }}')">
                        Editar
                    </button>
                    <div id="form-editar-{{ cliente[0] }}" class="form-editar" style="display: none">
                        <form method="POST" action="{{ url_for('editClienteWeb', id=cliente[0]) }}">
                            <input type="text" name="nombre" value="{{ cliente[1] }}">
                            <input type="email" name="correo" value="{{ cliente[2] }}">
                            <input type="text" name="ciudad" value="{{ cliente[3] }}">

                            <button type="submit" class="btn-guardar">Guardar</button>
                            <button type="button" class="btn-cancelar" onClick="toggleForm('{{ cliente[0] }}')">Cancelar</button>
                        </form>
                    </div>

                </td>
            </tr>

            

        {% endfor %}
    </tbody>
</table>

{% endif %}
<script>
function toggleForm(id) {
    var form = document.getElementById('form-editar-' + id);
    if (form.style.display === 'block') {
        form.style.display = 'none';
    } else {
        form.style.display = 'block';
    }
}
</script>
{% endblock %}


