{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<title>Inicio</title>
{% endblock %}

{% block body %}
    
    <div class="container">
        <div class="texto-superior">Ir a...</div>
        <a href="{{ url_for('mostrarClientes') }}" class="btn-module">Clientes</a>
        <a href="{{ url_for('mostrarProductos') }}" class="btn-module">Productos</a>
        <a href="{{ url_for('mostrarCategorias') }}" class="btn-module">Categorias</a>
    </div>
{% endblock %}